<div class="container">
  <h2>User Information</h2>
  <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
      <label for="first name">First Name:</label>
      <input
        (ngModel)="(user.firstName)"
        type="text"
        name="firstName"
        required
        minlength="2"
      />
      <div
        [ngClass]="{'alert': user.firstName.length < 2 || showError }"
      >
        <p *ngIf="showError">First name is required</p>
        <p *ngIf="!showError && user.firstName.length < 2">Short name!</p>
      </div>
    </div>

    <div class="form-group">
      <label for="last name">Last Name:</label>
      <input (ngModel)="(user.lastName)" type="text" name="lastName" required />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input (ngModel)="(user.email)" type="email" name="email" required />
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
